body {
  background-color: #f0f0f0;
  margin-top: 3.6rem;
}
#banner {
  top: 60px;
}
.nav-arrow {
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffc671;
}
.nav-arrow:hover {
  cursor: pointer;
}

/* .navmargin {
  margin-top: 4em;
} */

.icon {
  font-size: 32px;
}

.logo {
  max-width: 32px;
}

.body-area {
  background-color: #ffffff;
  border: 1px solid #000000;
  position: relative;
  min-height: 100vh;
}

.text-lt-blue {
  color: #e4f1ff !important;
}

.text-ml-blue {
  color: #a8d3ff !important;
}

.text-nm-blue {
  color: #7cbcff !important;
}

.text-md-blue {
  color: #54a8ff !important;
}

.text-dr-blue {
  color: #2990fc !important;
}

.text-lt-brown {
  color: #fff3e2 !important;
}

.text-ml-brown {
  color: #ffd9a1 !important;
}

.text-nm-brown {
  color: #ffc671 !important;
}

.text-md-brown {
  color: #ffb546 !important;
}

.text-dr-brown {
  color: #ffa218 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff3e2;
  opacity: 0.8;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #ffc671;
}

@media screen and (min-width: 767px) {
  .head {
    font-size: 5em;
  }
  .subhead {
    font-size: 1.4em;
  }
}
