body {
    font-family: 'Lato', sans-serif;
}
.icon {
    font-size: 42px;
    color: #fff;
}
.icon:hover {
color: #f4a032;
}
.text-blue {
    color: #4e87c6!important;
}
.resume-header {
    border-radius: 5px 5px 0 0;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    background-color: #3f4047!important;
    color: #fff;
  }
  .resume-ls {
    padding: 25px 50px;
    background-color: #d1d3d4!important;
  }
  .resume-rs {
    padding: 25px 50px;
    background-color: #fff;
  }
  .bg-dark-gray {
    background-color: #3f4047!important;
  }
  .bg-light-gray {
    background-color: #d1d3d4!important;
  }
  .bg-gold {
    background-color: #f4a032!important;
  }
  .bg-blue {
    background-color: #4e87c6!important;
  }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    width: 100%;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 525px) {
    .resume-header, .resume-ls, .resume-rs {
        padding: 10px;
    }
    .resume-ls {
        border-radius: 0 0 5px 5px;
    }
}